@import "../../styles.scss";

form {
  background-color: #121212;
  border: solid 1px #19191b;
  box-shadow: 4px 3px 12px 3px #161618;

  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.5rem;
}

h1 {
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

h2 {
  text-align: center;
  font-weight: 400;
}

label {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

input {
  margin-top: 0.2rem;
  border: 0;
  border-radius: 0.1rem;
  padding: 0.4rem 0.5rem;
  font-weight: 500;
}

p {
  margin-top: 0.3rem;

  a {
    color: #fff;
    cursor: pointer;
  }
}

button {
  margin-top: 1rem;
  @include botao-estilo(#3498db, #fff, 100%);
}

.alert {
  color: #ef4444;
  font-weight: 600;
  margin-top: 0.5rem;
}
