<div class="dash-group">
  <div class="info-group">
    <header>
    <h1>Olá, {{ nomeUsuario }} 😊</h1>
    <h2>Monitore suas atividades e obtenha uma avaliação do seu desempenho!</h2>

    <button (click)="openModal()">Adicionar hábito</button>
    <button (click)="logout()" class="logout-btn">Sair</button> <!-- 👈 novo botão -->
  </header>


    <app-modal *ngIf="isModalVisible" (close)="hideModal()"></app-modal>

    <main>
      <article>
        <span>{{ inicioSemana }} - {{ fimSemana }}</span>

        <div class="progress-bar">
          <div class="progress" [style.width.%]="progressPercent"></div>
        </div>
        <p>{{ progressPercent }}% meta atingida</p>
      </article>

      <app-tabela-semanas />
    </main>
  </div>

  <div class="check-group">
    <app-habits-colunm (habitoMarcado)="atualizarProgresso()" />
  </div>
</div>
