<div *ngIf="mensagemSucesso" class="toast-sucesso">
  {{ mensagemSucesso }}
</div>

<section class="tabela-habitos">
  <div class="linha-cabecalho">
    <div class="nome-habito"> </div>
    <div *ngFor="let dia of diasSemana" class="dia">{{ dia }}</div>
    
  </div>

  <div class="linha-habito" *ngFor="let habito of habitos">
    <div class="nome-habito">{{ habito.nome }}</div>

    <div *ngFor="let dia of diasSemana" class="bolinha"
         [ngClass]="{
           'bg-cinza': !habito.dias_semana.includes(dia),
           'bg-verde': habito.dias_semana.includes(dia) && habitoFoiFeitoNoDia(habito, dia),
           'bg-vermelho': habito.dias_semana.includes(dia) && !habitoFoiFeitoNoDia(habito, dia)
         }"
         [title]="dia">
    </div>
    <div class="acoes">
    <button class="botao-feito" (click)="marcarFeito(habito)">✅ Feito</button>
    <button class="botao-excluir" (click)="excluirHabito(habito)">🗑️ Excluir</button>
  </div>



  </div>
</section>
