<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th scope="col" *ngFor="let dia of diasSemana">{{ dia }}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let habito of habitos">
      <th scope="row">{{ habito.nome }}</th>
      <td
        *ngFor="let dia of diasSemana"
        [ngClass]="{
          'bg-cinza': !habito.dias_semana?.includes(dia),
          'bg-verde': habito.dias_semana?.includes(dia) && habitoFoiFeitoNoDia(habito, dia),
          'bg-vermelho': habito.dias_semana?.includes(dia) && !habitoFoiFeitoNoDia(habito, dia)
        }"
      >
        <div class="statusDiv"></div>
      </td>
    </tr>
  </tbody>
</table>
