<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-container" (click)="$event.stopPropagation()">
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <label for="habito">Hábito:</label>
      <input type="text" id="habito" formControlName="nome" />

      <p>Quais dias você pratica esse hábito?</p>

      <div>
        <div *ngFor="let option of dias">
          <label>
           <input
            type="checkbox"
            [checked]="form.value.dias_semana?.includes(option.dia.toString())"
            (change)="onDiaSelecionado($event)"
            [value]="option.dia"
           />
            {{ option.dia }}
          </label>
        </div>
      </div>

      <button type="submit" [disabled]="!form.valid">Enviar</button>

      <div class="mensagem sucesso" *ngIf="mensagemSucesso">{{ mensagemSucesso }}</div>
      <div class="mensagem erro" *ngIf="mensagemErro">{{ mensagemErro }}</div>
    </form>
  </div>
</div>
