.colunm-tasks {
  margin-bottom: 1rem;

  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;

    .botoes {
      display: flex;
      gap: 0.5rem;
    }
    
    .verde {
      background-color: #4caf50;
    }

    .vermelho {
      background-color: #f44336;
    }

    .branco {
      background-color: #ffffff;
    }
  }

  span {
    font-size: 1.2rem;
  }
}
