.colunm-tasks {
  margin-bottom: 1rem;

  .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;

    .botoes {
      display: flex;
      gap: 0.5rem;
    }

    .dias {
      display: flex;
      gap: 0.25rem;
      margin-top: 0.5rem;

      span {
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        font-size: 0.9rem;
      }

      .selecionado {
        background-color: #4caf50;
        color: white;
      }

      .nao-selecionado {
        background-color: #f44336;
        color: white;
      }

      .feito {
        background-color: #2196f3;
        color: white;
      }
    }
  }

  span {
    font-size: 1.2rem;
  }

  
}
