<div *ngFor="let habito of habitos" class="colunm-tasks">
  <div class="task">
    <div>
      <span>{{ habito.nome }}</span>

      <div class="bolinhas">
        <span
          *ngFor="let i of [1, 2, 3, 4, 5, 6, 0]"
          class="bolinha"
          [ngClass]="getCorDoDia(habito, i)"
          [title]="getDiaSemanaNome(i)"
        ></span>
      </div>
    </div>

    <div class="botoes">
      <button (click)="excluirHabito(habito)">Excluir</button>
      <button (click)="marcarFeito(habito)">Feito</button>
    </div>
  </div>
</div>
